// Font family
$ff-h: "Fredoka", sans-serif;
$ff-b: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$fs-thin: 300;
$fs-regular: 400;
$fs-semi: 500;
$fs-bold: 700;

// Spaces
$s025: 0.25rem;
$s050: 0.5rem;
$s075: 0.75rem;
$s090: 0.9rem;

$s100: 1rem;
$s110: 1.1rem;
$s150: 1.5rem;

$s2: 2rem;
$s3: 3rem;
$s5: 5rem;
$s10: 10rem;
